/* 
  .image1 {
    margin-top: 0em;
    padding-left: 5em;
    
} */
/* .container {
    background-image: url('table\ m3.jpg');
  }
  body {
    background-color: rgb(101, 184, 121);
  }
  .names{
    text-align: left;
    color: rgb(253, 253, 253);
    margin-top: 5em;
  }
  
.cropped {
    width: 300px; 
    height: 300px; 
    /* overflow: hidden; */
    /* margin-top: 0em;
    padding-left: 65em;
        
    
    } */
     */
   